body {
  background-color: #FEF5ED;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sansita', sans-serif;
}

.container-fluid {
  padding: 0;
}

.brand-row{
  padding-left: 7%;
  padding-right: 7%;
  background-color: #464E2E;
  /* position:fixed; */

}

.logo {
  padding-left: 4%;
  padding-right: 4%;
}

.navbar-light .navbar-brand{
    color: #FEF5ED;
}

.navbar-light .nav-link{
  color: #FEF5ED;
}

.navbar-brand {
  font-family: "Monoton", cursive;
  font-size: 3.5rem;
  color: #FEF5ED;
}

.navbar-light .nav-link.user {
  padding-top: 20px;
  padding-bottom: 0;
  color: #FEF5ED;
}

#title {
  background-color: #FEF5ED;
}

.navbar{
  padding-left: 0;
  padding-right: 0;
}

.hamburger-menu .navbar {
  padding-left: 7%;
  padding-right: 7%;
  color: #362706;
}

.navbar-light .navbar-collapse .nav-link{
  font-family: 'Sansita', sans-serif;
  color: #362706;
  white-space: nowrap;
}

.collapse .navbar-nav {
  font-size: 1.5em;
  margin: 0 auto;
  letter-spacing: 0.1em;
}

.navbar-expand-sm .navbar-nav .nav-item{
  padding-left: 2%;
  padding-right: 2%;
}

/* .collapse .nav-item{
  padding-right: 5%;
} */

div.col-sm-6.title-text{
  padding-left: 0;
  padding-right: 0;
}

.title {
  padding: 7% 4%;
  color: #FEF5ED;
}

.container-fluid.title{
  padding-left: 7%;
}

.welcome-title {
  margin-bottom: 0;
  padding-bottom: 2%;
}

.welcome-text {
  padding-bottom: 4%;
}

.btn {
  letter-spacing: 0.1em;
  background-color: #FEF5ED !important;
  border-radius: 25px !important;
  color: #362706;
}

.story.container-fluid {
  margin-left: 0;
  margin-right: 0;
  padding: 5% 7%;
}

.story {
  padding: 0;
}

.story-title {
  padding-bottom: 3%;
}

.story-subtitle{
  padding-bottom: 3%;
  font-family: 'Montserrat', sans-serif !important;
}

.story-content, .care-content{
  font-size: 1.2em;
  font-family: 'Sansita', sans-serif;
  line-height: 1.5em;
}

.story-img-container{
  display: flex;
  justify-content: right;
  padding-right: 0;
}
.plant-care-img-container, .press-container{
  display: flex;
  justify-content: center;
}

.story-img {
  background-size: cover;
  width: 80%;
}

.category{
  padding: 0 7% 5%;
}
.category-card-row{
  margin: 0;
}
.category-title{
  padding: 2% 0;
  letter-spacing: 0.1em;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.plant-care{
  padding: 0 7% 5%;
}

.plant-care-row{
  margin: 0;
}

.care-title{
  padding-top: 2%;
  padding-bottom: 2%;
}

.care-subtitle{
  font-family: 'Montserrat', sans-serif !important;
  padding-bottom: 2%;
}

.care-button, .cta-button, .signup-button, .log-in-button{
  background-color: #464E2E !important;
  color: #FEF5ED;
}

.plant-care-img{
  width: 80%;
}

.testimonial{
  padding: 5% 7%;
}

.testimonial-text{
  padding: 3% 5%;
  line-height: 1.5en;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  color: #362706 !important;
}

.press-container{
  margin: 0;
  padding-top: 2%;
}

.press-logo{
  width: 80%;
}

#pricing{
  padding: 5% 7%;
}

.card-header{
  background-color: #464E2E;
  color: #FEF5ED;
}

.pricing-cards{
  margin: 0;
}

.pricing-title{
  padding-bottom: 1.5%;
}

.pricing-subtitle{
  padding-bottom: 2%;
}

.cta{
  margin: 0;
  padding: 3% 7%;
}

.cta-title{
  padding-bottom: 3%;
}
.cta-container{
  margin: 0;
}
.cta-button-container{
  padding: 0 auto;
}

.cta-button{
  margin: 5% 3% 5% 0;
}

#footer{
  background-color: #464E2E;
  color: #FEF5ED;
}

.footer-row{
  margin: 0;
  padding: 3% 7% 4%;
}

.nav-col{
  padding-left: 10%;
}

.footer-title{
  letter-spacing: 0.2em;
}
.footer-item{
  padding-left: 0;
  font-size: 1em;
  text-decoration: none;
}

.copyright{
  padding-bottom: 3%;
  margin-bottom: 0;
}

@media (max-width: 960px){
  .collapse .navbar-nav{
    margin: 0;
  }
  /* .plant-care-row .col-lg-6{
    padding-bottom: 4%;
  } */

  .plant-care-img{
    padding-top: 2%;
  }

  .story-img-container{
    justify-content: center !important;
  }

  .story-img{
    margin: 0 auto;
    /* width: 100%; */
  }

  .pricing-cards .col-md-6{
    padding-top: 2%;
  }
}

@media (max-width: 576px){
  .hamburger-menu{
    padding-left: 1% 7%;
  }

  .story-img{
    margin: 0 auto;
  }


  .category-card-row{
    margin: 0;
  }

  .plant-care-row .col-lg-6{
    padding-bottom: 4%;
  }

  .plant-care-img{
    width: 100%;
  }

  .press-container{
    padding: 3% 0;
  }

  .press-logo{
    width: 60%;
  }

  .pricing-cards .col-md-6{
    padding-bottom: 4%;
  }

  .footer-row .nav-col{
    padding-top: 5%;
  }

  .form-container, .first-name-container{
    padding-bottom: 5%;
  }
}

.sign-up-title{
  padding: 0;
}

.form-row{
  padding: 7%;
}

form{
  padding: 0 15%;
}

.log-in,.sign-up{
  font-family: 'Sansita', sans-serif;
}

.sign-up{
  margin-bottom: 6%;
}

.name-row{
  margin-left: 0;
  margin-right: 0ï¼›
}

.first-name-container, .last-name-container{
  padding-left: 0;
}
