.body{
  background-color: #FEF5ED;
  margin: 0
}

/* .nav.navbar-expand-lg{
  padding-top: 4%;
  padding-bottom: 2%;
} */

.brand-row{
  padding: 3% 7% 2%;
}

.navbar{
  padding-left: 0;
  padding-right: 0;
}

.navbar-light .navbar-brand{
  font-family: 'Monoton', cursive;
  font-size: 4rem;
  color: #FEF5ED;
}

.navbar-light .nav-link.user {
  padding-top: 20px;
  padding-bottom: 0;
  color: #FEF5ED;
}

.container-fluid.hamburger-menu{
  padding: 0;
  background-color: #798777;
}

.navbar-expand-sm .navbar-nav .nav-item{
  padding-left: 2%;
  padding-right: 2%;
}

.hamburger-menu .navbar {
  padding-left: 7%;
  padding-right: 7%;
  color: #362706;
}

.navbar-light .navbar-collapse .nav-link{
  font-family: 'Sansita', sans-serif;
  color: #362706;
  letter-spacing: 0.1em;
  font-size: 1.2em;
}

.product-img-container{
  /* padding-left: 0;
  padding-right: 0; */
  padding: 4% 0;
}

.product-img-row{
  padding-left: 15%;
  padding-right: 15%;
  margin: 0;
}

.product-img-row .col-md-3{
  margin: 0 4% 2%;
}

.plant-img{
  width: 100%;
  cursor: grab;
}

.card-body{
  padding-left: 1%;
  padding-right: 1%;
  background-color: #FEF5ED;
}

.plant-name-and-price, .review-like{
  padding-left: 0;
  padding-right: 0;
  margin: auto 0;
}

.plant-img:hover{
  opacity: 0.8;
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
  color: #333;
  text-decoration: none;
}


.plant-name, .plant-price, .review{
  font-family: 'Sansita', sans-serif;
  color: #3d2c07;
}

.plant-name{
  font-size: 1.3em;
}

.plant-name:hover{
  color: #3d2c07;
}

.heart{
  margin-top: 3%;
}

#footer{
  /* background-color: #464E2E; */
  background-color: #798777;
  color: #FEF5ED;
}

.footer-row{
  margin: 0;
  padding: 3% 7% 4%;
}

.nav-col{
  padding-left: 10%;
}

.footer-title{
  letter-spacing: 0.2em;
}
.footer-item{
  padding-left: 0;
  font-size: 1em;
  text-decoration: none;
}

.copyright{
  padding-bottom: 3%;
  margin-bottom: 0;
}
